<div class="card container">
  <div class="card-part-header">
    <p>Motivation for: <%= @task.name %></p>
  </div>
  <div class="card-part-body">
<%= render :partial => 'goals/small_card', :collection => @parents, :as => :goal %>
  </div>
</div>

<%= render :partial => 'show_card' %> 

<p><%= link_to 'Back', tasks_path %></p>
 
