.card.goal {
  padding 0px;
  border: 3px solid;
  background-color: #93EEAA;
  border-color: #4AE371;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 4px;
}
.card.goal .card-part-body ,
.card.goal .card-toolbar {
  background-color: #B8F5C8;
}
.card.goal p {
  font-size: 1em;
  padding: 6px;
  margin: 0;
}

.section-header.goals {
  background-color: #B8F5C8;
}

.card.task {
  padding 0px;
  border: 3px solid;
  background-color: #FFD7B3;
  border-color: #FFAC62;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 4px;
}
.card.task .card-part-body ,
.card.task .card-toolbar {
  background-color: #FFE5C0;
}
.card.task p {
  font-size: 1em;
  padding: 6px;
  margin: 0;
}
.section-header.tasks {
  background-color: #FFE5C0;
}

.app-header {
  background-color: #000000;
  color: #ffffff;
  padding: 6px
}
.section-header {
  padding: 6px
}

.card-part-header ,
.card-part-footer ,
.card-part-body ,
.card-toolbar {
  border-bottom: 1px solid;
  border-color: inherit;
}

.card-toolbar {
  border-bottom: 0px solid;
}
.card-part-header {
  font-weight: bold ;
}
