.card {
  padding 0px;
  border: 3px solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 4px;
}
.card p {
  font-size: 1em;
  padding: 6px;
  margin: 0;
}

.app-header {
  background-color: #000000;
  color: #ffffff;
  padding: 6px
}
.section-header {
  padding: 6px ;
  margin-bottom: 30px;
}

.card-part-header ,
.card-part-footer ,
.card-part-body ,
.card-toolbar {
  border-bottom: 1px solid;
  border-color: inherit;
}

.card-toolbar {
  border-bottom: 0px solid;
}
.card-part-header {
  font-weight: bold ;
}



.card.container {
  background-color: #D8D8D8;
  border-color: #C0C0C0;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card.container .card-part-body ,
.card.container .card-toolbar {
  background-color: #FFFFFF;
}
.card.container .card-part-body {
  padding: 2px ;
}
.card.container .card {
  margin: 10px ;
  width: 500px;
}

.card.goal {
  background-color: #93EEAA;
  border-color: #4AE371;
}
.card.goal .card-part-body ,
.card.goal .card-toolbar {
  background-color: #B8F5C8;
}
.section-header.goals {
  background-color: #B8F5C8;
}

.card.task {
  background-color: #FFD7B3;
  border-color: #FFAC62;
}
.card.task .card-part-body ,
.card.task .card-toolbar {
  background-color: #FFE5C0;
}
.section-header.tasks {
  background-color: #FFE5C0;
}
