<p>
'Goals' are about where you want to be, the state of affairs you want to achive.
For a business, examples of goals might be
<ul>
  <li>Attract a new kind of customer</li>
  <li>Increase profits by a certain percentage</li>
</ul>
</p>
