<h3>Expanded Goal</h3>

<%= render :partial => 'show_card' %>

<h4>Tasks</h4>

<%= render :partial => 'tasks/small_card', :collection => @children, :as => :task %>

<p><%= link_to 'Back', goals_path %></p>
