<%= render :partial => 'show_card' %>

<div class="card container">
  <div class="card-part-header">
    <p>Contributing to: <%= @goal.name %></p>
  </div>
  <div class="card-part-body">
<%= render :partial => 'tasks/small_card', :collection => @children, :as => :task %>
  </div>
</div>

<%= link_to 'Back', @goal %>
