<h1>Summarising goals</h1>

<table>
  <%= render :partial => 'header' %>
  <%= render :partial => 'row', :collection => @goals, :as => :goal %>
</table>

<br />

<%= link_to 'New goal', new_goal_path %>