<h1>Editing activity</h1>

<% form_for(@activity) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} -%>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @activity %>
