<h1>Listing features</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Detail</th>
    <th>Complete</th>
  </tr>

  <%= render :partial => 'row', :collection => @features, :as => :feature %>

</table>

<br />

<%= link_to 'New feature', new_feature_path %>