<h1>Listing features</h1>

<table>

  <%= render :partial => 'header' %>
  <%= render :partial => 'row', :collection => @features, :as => :feature %>

</table>

<br />

<%= link_to 'New feature', new_feature_path %>