<h1>Listing Agilezen::activities</h1>

<table>
  <tr>
    <th>External</th>
    <th>Source</th>
  </tr>

<% @agilezen_activities.each do |activity| %>
  <tr>
    <td><%=h activity.external_id %></td>
    <td><%= link_to( activity.source.name, agilezen_source_path(activity.source) ) unless activity.source.nil? %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

